<link rel="stylesheet" href="/assets/css/header.css">
<header>
    <div class="header-container">
        <div class="brand">
            <img src="https://res.cloudinary.com/grami/image/upload/v1543926324/28156950_1795404464086862_7740299840768180224_n.jpg"/>
            <a href="/">ShikShop</a>
        </div>
        <ul class="navbar">
            <div class="logout">Logout</div>
        </ul>
    </div>
</header>