<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brand</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/products-slider.css">
    <%- include('components/fonts')%>
</head>
<body>
    <%- include('components/main-header')%>
    <div class="bimage">
        <div class="slogan">
            Let them talk <br />
            about BEAUTY
        </div>
    </div>
    <main class="main">
        <h1 class="title-section">Most Popular</h1>
        <div class="products-slider">
    <div class="slider-container" data-count="7" style="width: calc(7 * (200px + 64px));">
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('http://picua.org/img/2018-04/03/r28dh3qdg6d1tpktwumqpdgwi.jpg') center center / cover;"
            ></div>
            <div class="title">
                compect SkfPLAT
            </div>
            <div class="cost">
                9600 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
        <div class="slide">
            <div 
                class="img"
                style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwn4rN0xXqdAxweAn46vkfrn2ut9LJ1Y2uuu61U-Iv7ZHYJuAbg') center center / cover;"
            ></div>
            <div class="title">
                Памада QusdLayer
            </div>
            <div class="cost">
                3000 KGS
            </div>
        </div>
    </div>
</div>
    </main>
    <script src="/assets/js/index.js"></script>
</body>
</html>